/* * {
  border: 1px red solid;
} */
body {
  height: 100%;
  font-family: "Roboto";
  background-color: black;
}
.main-div {
  margin: auto;
  background-color: white;
  width: 60%;
}
.top-main-div {
  display: flex;
  align-items: center;
  width: 100%;
}
.icon-html {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
}

.text-top-left > p {
  margin: 0;
  font-size: 80%;
}
.icon-ellipsis {
  margin-left: auto;
  padding-right: 4%;
}
.image img {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.lower-icons {
  display: flex;
  height: 80%;
  padding-top: 15px;
  padding-right: 4%;
  padding-left: 5%;
}
.icons-left {
  width: 50%;
}
.icons-right {
  margin-left: auto;
}
.text-bellow {
  padding-top: 15px;
  padding-right: 4%;
  padding-bottom: 5%;
  padding-left: 5%;
  
}
